
html{
  overflow-x: hidden;
}
.header{
  background: url("img/background.png") no-repeat;
  background-size: 1100px;
  margin: -106px;
  /* margin-left: auto; */
  display: flex;
  justify-content: center;
  height: 1068px;
  width: 100%;
  }
.inf{
  display: flex;
  justify-content: center;
  padding-top: 110px;
  margin-left: -320px;
}
.inf div:nth-child(2), div:nth-child(3), div:nth-child(4){
  margin-left: 39px;
}
.micocin{
  font-weight: bold;
}
.micocin::before{
  background: url("img/menu-1.png") no-repeat;
  width: 81px;
  height: 56px;

}