
html{
  overflow-x: hidden;
}
.header{
  background: url("img/background.png") no-repeat;
  background-size: 1450px;
  margin: -137px;
  height: 740px;
  width: 100%;
  position: absolute;
  left: 10%;
  }
  .inIt{
    width: inherit;
    height: inherit;
    position: relative;

  }
.inf{
  display: flex;
  padding-top: 130px;
  margin-left: 500px;
}
.inf div:nth-child(2), div:nth-child(3), div:nth-child(4){
  margin-left: 39px;
}
.micocin{
  font-weight: bold;
  position: relative;
  margin-right: 88px;
}
.micocin span{
  position: absolute;
top: 8px;
}
.sec{
  width: 161px;
height: 35px;
color: #666666;
font-size: 13px;
position: relative;
font-style: italic;
}
.sec img{
  position: absolute;
  left: -40px;
}
.thr{
  width: 114px;
  height: 34px;
  color: #666666;
  font-size: 13px;
  position: relative;
  font-style: italic;
}
 .thr img{
  position: absolute;
  left: -35px;
} 
.fou{
  width: 119px;
  height: 34px;
  color: #666666;
  font-size: 13px;
  position: relative;
  font-style: italic;
}
.fou img{
  position: absolute;
  left: -35px;
}
.tabletki{
  background: url("img/tablet.png") no-repeat;
  width: 344px;
  height: 345px;
  background-size: 350px;
  position: absolute;
  bottom: 0px;
  left: 350px;
  font-size: 20px;
  font-weight: bold;
  color: white;
}
.cena{
  position: absolute;
  top: 0px;
  right: 125px;
}
.cena-1{
  position: absolute;
  top: 70px;
  right: 70px;
}
.text h1{
  font-size: 15px;
}
.text{
  position: absolute;
  right: 440px;
}
.txt-top img{
  position: absolute;
  left: -40px;
}
.txt-mid img{
  position: absolute;
  left: -40px;
}
.txt-bottom img{
  position: absolute;
  left: -40px;
}